#normy .info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
  margin-top: 60px;
}
#normy .info-content img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
#normy .info-content .amount {
  font-weight: 800;
  font-size: 40px;
}
#normy .info-content .type {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-size: 30px;
}
#normy .wrapper {
  position: relative;
}
#normy .bg-element-2 {
  position: absolute;
  top: 0;
  left: 0;
}

/* Smartphone Version */

@media only screen and (max-width: 720px) {
  #normy .content-container {
    flex-direction: column;
    gap: 80px;
  }
  #normy .content-container img {
    height: 100px;
  }
  #normy .info-content .amount {
    font-size: 32px;
  }
  #normy .info-content .type {
    font-size: 24px;
  }
  #normy .bg-element-2 {
    top: -30px;
    left: 32px;
  }
}
