#powiedzieli .content-container {
  margin-top: 50px;
  justify-content: space-between;
}
#powiedzieli .testimonial {
  width: 264px;
}
#powiedzieli .testimonial img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
#powiedzieli .testimonial .name {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
}
#powiedzieli .testimonial .company-name {
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 0;
  opacity: 0.7;
}
#powiedzieli .testimonial .review {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
}

/* Tablet Version */

@media only screen and (max-width: 1040px) {
  #powiedzieli .content-container {
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
    margin-top: 50px;
  }
  #powiedzieli .testimonial {
    display: flex;
    gap: 28px;
    width: 100%;
  }
}

/* Smartphone Version */

@media only screen and (max-width: 720px) {
  #powiedzieli .testimonial {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  #powiedzieli .testimonial .reviewer-details {
    text-align: center;
  }
}
