:root {
  --dark-color: #181e1e;
  --yellow-color: #e63946;
  --pink-color: #445dff;
  --red-color: #ffca28;
  --blue-color: #000098;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* Sections */

section {
  padding: 80px 0;
  color: #fff;
}
section h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  position: relative;
}
section h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background: var(--red-color);
  left: 0;
  bottom: -10px;
}
section h2.light::after {
  background: var(--yellow-color);
}
.black {
  background: #000;
}
.dark-gray {
  background: var(--dark-color);
}
.pink {
  background: var(--pink-color);
}
section .content-container {
  display: flex;
}

/* Tablet Version */

@media only screen and (max-width: 1040px) {
  .wrapper {
    max-width: 694px;
  }
}

/* Smartphone Version */

@media only screen and (max-width: 720px) {
  .wrapper {
    padding: 0 32px;
  }
  section h2 {
    font-size: 24px;
  }
  section h2::after {
    width: 50px;
    bottom: 0;
  }
}

/* MODAL */

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.services__modal-content {
  width: 500px;
  position: relative;
  background: #fff;
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
  color: #333;
  z-index: 9999 !important;
}
.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
.services__modal-title {
  font-size: 1.15rem !important;
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-align: center;
}
.services__modal-description {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
  text-align: left;
  color: #222121 !important;
  line-height: 1.3rem !important;
}
.services__modal-services {
  row-gap: 0.75rem;
  width: fit-content;
  margin: auto;
}
.services__modal-services img {
  height: unset;
  width: 100%;
  object-fit: contain;
  box-shadow: 0px -1px 15px -5px #454343;
  -webkit-box-shadow: 0px -1px 15px -5px #dad0d0;
}
.services__modal-service {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.services__modal-icon {
  color: hsl(var(--hue), var(--sat), 20%);
  font-size: 1.1rem;
}
.services__modal-info {
  font-size: 0.875rem;
}

/* Active Modal */

.active-modal {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 676px) {
  .services__modal-description {
    font-size: 0.8rem;
  }
  .services__modal-services video {
    height: 400px !important;
    object-fit: cover;
  }
}
